<div class="row">
  <div class="col">
    <input type="text" class="form-control mb-3" placeholder="First name" value="{{this.first_name}}" name="firstName" />
  </div>
  <div class="col">
    <input type="text" class="form-control mb-3" placeholder="Last name" value="{{this.last_name}}" name="lastName" />
  </div>
</div>

<div class="row">
  <div class="col">
    <input type="text" class="form-control mb-3" placeholder="email" value="{{this.email}}" name="email" />
  </div>
  <div class="col">
    <input type="text" class="form-control mb-3" placeholder="phone" value="{{this.phone}}" name="phone" />
  </div>
</div>

<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label mb-3">Comments</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" value="{{this.comments}}" name="comments"></textarea>
</div>

<div class="d-grid gap-2">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>